@if (IsActive)
{
    <PageTitle Value="@FormatingUtils.GetTimerTitle(Item, TimeProvider)" />
}

<div class="card @(IsActive ? "timer-card-active" : "timer-card")">
    <div class="card-header @(Item.Project != null ? (IsActive ? "bg-danger text-white" : "bg-primary text-white") : (IsActive ? "bg-danger text-danger" : "bg-secondary text-secondary"))">
        <p class="card-text">
            @if (Item.Project != null)
            {
            <NavLink class="@(Item.Project != null ? (IsActive ? "text-white" : "text-white") : (IsActive ? "text-danger" : "text-secondary"))"
                     href="@($"projects/{Item.Project.Id}")"
                     Match="NavLinkMatch.All">
                <strong>@Item.Project.Title</strong>
            </NavLink>
            }
            else
            {
                @("No Project")
            }
        </p>
        <p class="card-text">
            <small class="text-white">@String.Format("{0:F1}", Item.GetTotalHoursSpentTodayTillNow(TimeProvider)) hrs today</small>
        </p>
    </div>
    <div class="card-body">
        <NavLink href="@($"tasks/{Item.Id}")" Match="NavLinkMatch.All">
            <h5 class="card-title text-black-50">@Item.Title</h5>
        </NavLink>
        <p class="card-text">
            @if (IsActive)
            {
                <span class="timer-text timer-text-timespan">
                    @FormatingUtils.FormatTimerElapsedTime(Item, TimeProvider)
                </span>
                <button class="btn btn-default timer-active-button" @onclick="@(() => Stop())">
                    <span class="oi oi-large oi-media-pause" aria-hidden="true"></span>
                </button>
            }
            else
            {
                <button class="btn btn-default timer-active-button" @onclick="@(() => Start())">
                    <span class="oi oi-large oi-media-play" aria-hidden="true"></span>
                </button>
            }
        </p>
        @if (TagLabels != null && TagLabels.Length > 0)
        {
            <div class="card-text">
                @foreach (var label in TagLabels)
                {
                    <span class="badge badge-info mr-1">@label</span>
                }
            </div>
        }
    </div>
</div>

@inject TasksService Service;
@inject ITimeProvider TimeProvider;
@inject ILogProvider LogProvider;

@code {
    [Parameter]
    public TaskItem Item { get; set; }

    private bool IsEditing { get; set; }
    private string TitleEditText { get; set; }

    private ILog log;

    //TODO: refactor code duplication here and in TaskDetails into a separate component
    private TagItem[] Tags { get; set; }

    private TagItem[] NotAssignedTags { get; set; }

    private string[] TagLabels
    {
        get
        {
            //TODO: run only once and cache, optimize
            var result = new List<string>();
            if (Tags == null) return null;
            for (int i = 0; i < Tags.Length && i < 5; i++) //TODO: make limit configurable
            {
                result.Add(Tags[i].Name);
            }
            if (Tags.Length > 5)
            {
                result.Add("...");
            }
            return result.ToArray();
        }
    }

    private string NewTagLabel { get; set; }

    public bool IsActive
    {
        get
        {
            return Item.IsRunning;
        }
    }

    //TODO: Add form validation for title
    protected async override Task OnInitializedAsync()
    {
        IsEditing = false;
        log = LogProvider.CreateLogger(this);

        await RefreshDataAsync();
    }

    public async Task RefreshDataAsync()
    {
        NewTagLabel = "";
        if (Item != null)
        {
            Tags = await Service.GetTagsAsync(Item);
            NotAssignedTags = await Service.GetNotAssignedTagsAsync(Tags);

            StateHasChanged();
        }
    }

    private void Start()
    {
        Service.StartTaskAsync(Item);
    }

    private void Stop()
    {
        Service.StopTaskAsync(Item);
    }

    private void StartEditing()
    {
        TitleEditText = Item.Title;
        IsEditing = true;
    }

    private async void ApplyChangesAsync()
    {
        IsEditing = false;
        log.D("ApplyChanges");

        Item = await Service.UpdateTaskTitleAsync(Item, TitleEditText);
        StateHasChanged();
    }

    private void ResetChanges()
    {
        IsEditing = false;
        TitleEditText = Item.Title;
        log.D("ResetChanges");
    }

    private async void AddTagAsync()
    {
        log.D("ApplyChanges");

        await Service.AddOrCreateTagAsync(Item, NewTagLabel);
        await RefreshDataAsync();
    }

    private async void AddTagByIdAsync(string id)
    {
        log.D("ApplyChanges");

        await Service.AddTagAsync(Item, id);
        await RefreshDataAsync();
    }
}
