@page "/reports/activity"

<PageTitle Value="Activity Report"></PageTitle>

<div class="btn-toolbar p-2 justify-content-between" role="toolbar">
    <div class="btn-group btn-group-toggle mt-2" role="group">
        <button type="button" class="btn btn-outline-primary @(selectedType == ReportItem.RIType.Weekly ? "active" : "")" @onclick="@(() => UpdateTypeAsync(ReportItem.RIType.Weekly))">Weekly</button>
        <button type="button" class="btn btn-outline-primary @(selectedType == ReportItem.RIType.Monthly ? "active" : "")" @onclick="@(() => UpdateTypeAsync(ReportItem.RIType.Monthly))">Monthly</button>
        <button type="button" class="btn btn-outline-primary @(selectedType == ReportItem.RIType.Yearly ? "active" : "")" @onclick="@(() => UpdateTypeAsync(ReportItem.RIType.Yearly))">Yearly</button>
        <button type="button" class="btn btn-outline-primary @(selectedType == ReportItem.RIType.Total ? "active" : "")" @onclick="@(() => UpdateTypeAsync(ReportItem.RIType.Total))">All Time</button>
    </div>
    @if (selectedType != ReportItem.RIType.Total)
    {
        <div class="input-group mt-2">
            <button type="button" class="btn mr-1" @onclick="@(() => PrevAsync())">
                <span class="oi oi-chevron-left" aria-hidden="true"></span>
            </button>
            <input type="text" class="form-control mr-1" @bind="selectedDate" @bind:format="@InputFormat" readonly />
            <button type="button" class="btn mr-2" @onclick="@(() => NextAsync())">
                <span class="oi oi-chevron-right" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-outline-primary" @onclick="@(() => TodayAsync())">Today</button>
        </div>
    }
    <div class="btn-group btn-group-toggle mt-2">
        <button type="button" class="btn btn-outline-primary @(selectedMode == ReportItem.RIMode.Combined ? "active" : "")" @onclick="@(() => UpdateModeAsync(ReportItem.RIMode.Combined))">All</button>
        <button type="button" class="btn btn-outline-primary @(selectedMode == ReportItem.RIMode.ByTask ? "active" : "")" @onclick="@(() => UpdateModeAsync(ReportItem.RIMode.ByTask))">By Task</button>
    </div>
</div>

@if (SelectedPeriod != null)
{
    <div class="p-2">
        <h3>@SelectedPeriod</h3>
    </div>
}

@if (Report != null && Lines != null)
{
    <div class="row pt-2">
        <div class="col">
            <DevInstance.Timelines.Chart IsTimeRangeFlexible="true" StartTime="0.0" EndTime="24.0" ShowLineLabels="@(selectedMode == ReportItem.RIMode.ByTask)">
                <Lines>
                    <DevInstance.Timelines.Heatline Data="Lines" TimeInterval="0.25"></DevInstance.Timelines.Heatline>
                </Lines>
            </DevInstance.Timelines.Chart>
        </div>
    </div>
}
else
{
    <p>Loading ...</p>
}

@inject ReportService Service;
@inject IScopeManager ScopeManager;
@inject ITimeProvider TimeProvider;

@code {


}
