@page "/projects"

<PageTitle Value="Projects"></PageTitle>

@if (Projects != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Tasks</th>
                <th scope="col">Total time logged</th>
            </tr>
        </thead>
        @foreach (var item in Projects)
        {
            <tr>
                <td>
                    <NavLink class="nav-link" href="@($"projects/{item.Id}")">
                        <strong>@item.Title</strong>
                    </NavLink>
                </td>
                <td>
                    <NavLink class="nav-link" href="@($"projects/{item.Id}")">
                        @item.Descritpion
                    </NavLink>
                </td>
                <td>
                    <NavLink class="nav-link" href="@($"projects/{item.Id}")">
                        @item.TasksCount
                    </NavLink>
                </td>
                <td>
                    <NavLink class="nav-link" href="@($"projects/{item.Id}")">
                        @String.Format("{0:F1}", item.TotalTimeSpent.ToHours())
                    </NavLink>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Loading ...</p>
}

@using System.Timers;

@inject ProjectsService Service;
@inject IScopeManager ScopeManager;
@inject NotificationService NotificationServ;
@inject ToolbarService ToolbarServ;

@implements IDisposable

@code {

    private IScopeLog log;

    private ProjectItem[] Projects;

    protected async override Task OnInitializedAsync()
    {
        log = ScopeManager.CreateLogger(this);
        try
        {
            using (var scope = log.TraceScope())
            {
                ToolbarServ.EnableAddProject = true;
                ToolbarServ.Update();
                NotificationServ.DataHasChanged += OnDataHasChanged;

                await RefreshData();
            }
        }
        catch (Exception ex)
        {
            log.E(ex);
        }
    }

    public void Dispose()
    {
        ToolbarServ.EnableAddProject = false;
        ToolbarServ.Update(null);
    }

    private void OnDataHasChanged(Object sender, EventArgs e)
    {
        using (var scope = log.TraceScope())
        {
            RefreshData();
        }
    }

    private async Task<bool> RefreshData()
    {
        Projects = await Service.GetProjectsAsync(true);
        StateHasChanged();

        return true;
    }
}
